---
import NavMenu from "../components/NavMenu.astro";
import Footer from "../components/Footer.astro";
import MenuHeader from "../components/MenuHeader.astro";
import Line from "../components/Line.astro";
import ImgScrollerItem from "../components/ImgScrollerItem.astro";
import ImgScroller from "../components/ImgScroller.astro";
import Button from "../components/Button.astro";
import MenuKort from "../components/MenuKort.astro";
const scrollerImageWidth = "300px";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Rosenhøj B&B is a boutique Bed and Breakfast in Svendborg. We have a luxurious suite and a glamping tent. Our chef creates magic food for you." />
    <link rel="icon" type="image/svg+xml" href="/rosenhoj_favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet preload" href="https://use.typekit.net/xcg1awn.css" />
    <link rel="stylesheet" href="../../public/styles/global.css" />
    <title>Rosenhøj - Menu</title>
  </head>
  <body>
    <header>
      <NavMenu iconColor="var(--custom_black)" />
    </header>
    <main>
      <MenuHeader />
      <Line lineWidth="90%" lineColor="var(--custom_black)"/>
    </main>
    <ImgScroller imageHeight="350px" scrollerWidth="100vw">
<ImgScrollerItem imageSource="../images/menu/image1.webp" imageWidth={scrollerImageWidth}/>
<ImgScrollerItem imageSource="../images/menu/image2.webp" imageWidth={scrollerImageWidth}/>
<ImgScrollerItem imageSource="../images/menu/image3.webp" imageWidth={scrollerImageWidth}/>
<ImgScrollerItem imageSource="../images/menu/image4.webp" imageWidth={scrollerImageWidth}/>
<ImgScrollerItem imageSource="../images/menu/image5.webp" imageWidth={scrollerImageWidth}/>
<ImgScrollerItem imageSource="../images/menu/image6.webp" imageWidth={scrollerImageWidth}/>
<ImgScrollerItem imageSource="../images/menu/image7.webp" imageWidth={scrollerImageWidth}/>
    </ImgScroller>
    <p>
      På Rosenhøj er vi stolte af at tilbyde frisk, sæsonbetonet madlavning, der afspejler de fineste lokale råvarer. Vores menuer ændrer sig dagligt for at præsentere det friskeste kød, fisk og grøntsager, der er tilgængelige den pågældende dag.
    </p>
    <Line lineWidth="80%" lineColor="var(--custom_black)"/>
    <p>
      Beliggende i Svendborg er vi omgivet af nogle af Europas bedste fiskevande, hvilket sikrer, at vores fisk altid er frisk og rigelig. Vi ryger endda vores eget kød og fisk, hvilket skaber en uforglemmelig smagsoplevelse for vores gæster. <br />
      <br />Deltag i os til frokost eller middag på ethvert tidspunkt under dit ophold, og spørg os om vores sæsonbetonede tilbud og priser. Vi er forpligtede til at give en kulinarisk oplevelse, der glæder sanserne og efterlader et varigt indtryk.
    </p>
    <Line lineWidth="80%" lineColor="var(--custom_black)"/>
    <h3>NEDENFOR ER ET FORSLAG TIL HVAD VI KUNNE SERVERE UNDER DIT OPHOLD PÅ ROSENHØJ</h3>
    <div class="menu">
      <MenuKort />
      <h3>KONTAKT OS HVIS DU ER INTERESSERET I MAD UD AF HUSET!</h3>
      <Button text="KONTAKT OS" link="index.html#KontaktOs"/>
      <img src="../images/menu/image8.webp" alt="" />
    </div>
    <Footer />
  </body>

  <style>
    .menu {
      margin: auto;
      padding: 1rem;
    }
    p {
      margin-inline: 2.5em;
      margin-block: 2em;
      font-family: "raleway", sans-serif;
      font-weight: 300;
      font-style: normal;
      line-height: 150%;
    }

    h3 {
      text-align: center;
      margin-inline: 2em;
      margin-block: 2em;
      font-family: "raleway", sans-serif;
      font-weight: 300;
      font-style: normal;
      line-height: 150%;
      color: #354c82;
    }

    img {
      width: 100%;
      padding-block: 2em;
    }

    @media (min-width: 1000px) {
      p {
        margin-inline: 13em;
        padding-block: 2rem;
        font-size: 1.5vw;
      }

      h3 {
        font-size: 1.7vw;
      }

      .menu {
        padding: 3rem;
      }
    }
  </style>

  <script></script>
</html>
