---
import NavMenu from "../components/NavMenu.astro";
import Footer from "../components/Footer.astro";
import Line from "../components/Line.astro";
import Button from "../components/Button.astro";
import ImgScrollerItem from "../components/ImgScrollerItem.astro";
import ImgScroller from "../components/ImgScroller.astro";
const scrollerImageWidth = "100vw";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/rosenhoj_favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet preload" href="https://use.typekit.net/xcg1awn.css" />
    <link rel="stylesheet" href="../styles/global.css" />
    <title>Rosenhøj En-Suite Haveudsigt</title>
  </head>
  <body>
    <header>
      <NavMenu iconColor="var(--custom_black)" />
      <h3>Rosenhøj Rosenhøj En-Suite Haveudsigt</h3>
      <h4>op til 4</h4>
    </header>
    <main>
      <section>
        <div class="price">
          <span>1500.- DKK</span>
        </div>
        <ImgScroller imageHeight="500px" scrollerWidth={scrollerImageWidth}>
          <ImgScrollerItem imageSource="../images/rosenhøj-05.webp" imageWidth={scrollerImageWidth} />
          <ImgScrollerItem imageSource="../images/rosenhøj-06.webp" imageWidth={scrollerImageWidth} />
          <ImgScrollerItem imageSource="../images/rosenhøj-07.webp" imageWidth={scrollerImageWidth} />
          <ImgScrollerItem imageSource="../images/rosenhøj-08.webp" imageWidth={scrollerImageWidth} />
          <ImgScrollerItem imageSource="../images/rosenhøj-09.webp" imageWidth={scrollerImageWidth} />
          <ImgScrollerItem imageSource="../images/rosenhøj-10.webp" imageWidth={scrollerImageWidth} />
          <ImgScrollerItem imageSource="../images/rosenhøj-11.webp" imageWidth={scrollerImageWidth} />
          <ImgScrollerItem imageSource="../images/rosenhøj-12.webp" imageWidth={scrollerImageWidth} />
        </ImgScroller>
        <p>
          Nyrenoveret soveværelse med kingsize-seng, inklusiv en enkeltdagseng i hjørnet af soveværelset, perfekt til små familier på op til 4 personer.Dit eget private opholdsrum med brandeovn og
          badeværelse.Fjernsyn med premium-kanaler. Kaffe- og tefaciliteter.
        </p>
      </section>

      <Line lineWidth="90%" lineColor="var(--custom_black)" />
      <section class="information_section">
        <ul class="Information">
          <li>Nyrenoveret.</li>
          <li>Hurtigt WiFi.</li>
          <li>Kingsize-seng.</li>
          <li>Ekstra daybed i hjørnet af soveværelset.</li>
          <li>Privat opholdsstue med brandeovn.</li>
          <li>Fjernsyn med premium-kanaler.</li>
          <li>Privat badeværelse.</li>
          <li>Kaffe- og tefaciliteter.</li>
          <li>Plads til 2, maks. 4.</li>
          <li>Hjemmelavet kontinental morgenmad</li>
        </ul>

        <img class="room_drawing" src="images/room-topview.webp" alt="Room" />
      </section>
      <Line lineWidth="90%" lineColor="var(--custom_black)" />
      <Button text="BOOK VÆRELSE" link="" />
      <Line lineWidth="90%" lineColor="var(--custom_black)" />
    </main>
    <Footer />
  </body>

  <style>
    h3 {
      color: var(--dark_blue);
      font-size: clamp(1.5rem, 8vw, 4rem);
      text-align: center;
      padding-inline: 1rem;
      display: grid;
      padding-top: 150px;
      gap: 0.5rem;
    }
    h4 {
      text-align: center;
      color: var(--light_blue);
      font-size: 1.5rem;
      padding-block: 2vw;
    }
    section {
      display: grid;
      gap: 2rem;
      place-items: center;
      padding-block: 1rem;
      max-width: 100vw;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
    img[alt="Room"] {
      padding: 2rem;
    }
    ul {
      line-height: 2rem;
    }
    p {
      line-height: 1.75rem;
      margin-block: 2rem;
    }
    .room_drawing {
      max-width: 400px;
    }
    .information_section {
      padding: 4rem;
    }
    @media (min-width: 1000px) {
      .price {
        position: absolute;
        left: 85vw;
        top: 35vh;
      }
      span {
        font-size: 1.5rem;
      }
      img {
        max-height: 600px;
      }
      img[alt="Room"] {
        object-fit: contain;
        max-height: 500px;
      }
    }

    @media (min-width: 800px) {
      section:nth-of-type(2) {
        grid-template-columns: repeat(2, 1fr);
        max-width: 1200px;
        margin: auto;
      }
    }
  </style>

  <script></script>
</html>
