---
import NavMenu from "../components/NavMenu.astro";
import Footer from "../components/Footer.astro";
import Line from "../components/Line.astro";
import PageTitle from "../components/PageTitle.astro";
import Button from "../components/Button.astro";
import ImgScrollerItem from "../components/ImgScrollerItem.astro";
import ImgScroller from "../components/ImgScroller.astro";
const scrollerImageWidth = "100vw";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/rosenhoj_favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/xcg1awn.css" />
    <link rel="stylesheet" href="../../public/styles/global.css" />
    <title>Rosenhøj Bed & Breakfast</title>
  </head>
  <body>
    <header>
      <NavMenu iconColor="var(--custom_black)" />
      <h3>Rosenhøj En-Suite Gardenview</h3>
      <h4>Sleeps up to 4</h4>
    </header>
    <main>
      <section>
        <div class="price">
          <span>1500.- DKK</span>
        </div>
        <ImgScroller imageHeight="500px" scrollerWidth={scrollerImageWidth}>
          <ImgScrollerItem imageSource="public/images/rosenhøj-05.jpg" imageWidth={scrollerImageWidth}/>
          <ImgScrollerItem imageSource="public/images/rosenhøj-06.jpg" imageWidth={scrollerImageWidth}/>
          <ImgScrollerItem imageSource="public/images/rosenhøj-07.jpg" imageWidth={scrollerImageWidth}/>
          <ImgScrollerItem imageSource="public/images/rosenhøj-08.jpg" imageWidth={scrollerImageWidth}/>
          <ImgScrollerItem imageSource="public/images/rosenhøj-09.jpg" imageWidth={scrollerImageWidth}/>
          <ImgScrollerItem imageSource="public/images/rosenhøj-10.jpg" imageWidth={scrollerImageWidth}/>
          <ImgScrollerItem imageSource="public/images/rosenhøj-11.jpg" imageWidth={scrollerImageWidth}/>
          <ImgScrollerItem imageSource="public/images/rosenhøj-12.jpg" imageWidth={scrollerImageWidth}/>
        </ImgScroller>
        <p>
          Newly refurnished bedroom with King Size bed, including a single daybed in the corner of the bedroom, perfect for small family's up to 4. Your own private living room with fireplace and bathroom. Television with premium channels. Coffee and
          tea making station. This is a home away from home.
        </p>
      </section>

      <Line lineWidth="90%" />
      <section class="information_section">
        <ul class="Information">
          <li>King Size Bed.</li>
          <li>Newly refurnished.</li>
          <li>Fast WiFi.</li>
          <li>Extra daybed in the corner of the bedroom.</li>
          <li>Private living room with fireplace.</li>
          <li>Television with premium channels.</li>
          <li>Private bathroom.</li>
          <li>Coffee and tea making station.</li>
          <li>Sleeps 2, max 4.</li>
          <li>Homemade continental breakfast.</li>
        </ul>

        <img class="room_drawing" src="public/images/room-topview.webp" alt="Room" />
      </section>
      <Line lineWidth="90%" />
      <Button text="BOOK ROOM" />
      <Line lineWidth="90%" />
    </main>
    <Footer />
  </body>

  <style>

    h3 {
      color: var(--dark_blue);
      font-size: clamp(1.5rem, 8vw, 4rem);
      text-align: center;
      padding-inline: 1rem;
      display: grid;
      padding-top: 150px;
      gap: 0.5rem;
    }
    h4 {
      text-align: center;
      color: var(--light_blue);
      font-size: 1.5rem;
      padding-block: 2vw;
    }
    section {
      display: grid;
      gap: 2rem;
      place-items: center;
      padding-block: 1rem;
      max-width:100vw;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
    img[alt="Room"] {
      padding: 2rem;
    }
    ul {
      line-height: 2rem;
    }
    p {
      line-height: 1.75rem;
      margin-block: 2rem;
    }
    .room_drawing {
      max-width: 400px;
    }
    .information_section {
      padding: 4rem;
    }
    @media (min-width: 1000px) {
      .price {
        position: absolute;
        left: 85vw;
        top: 35vh;
      }
      span {
        font-size: 1.5rem;
      }
      img {
        max-height: 600px;
      }
      img[alt="Room"] {
        object-fit: contain;
        max-height: 500px;
      }
    }

    @media (min-width: 800px) {
      section:nth-of-type(2) {
        grid-template-columns: repeat(2, 1fr);
        max-width: 1200px;
        margin: auto;
      }
    }
  </style>

  <script></script>
</html>
